@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athlete List</title>
</head>
<body>
    <h1>Athlete Overview</h1>
    <div id="athlete-list">
        <div id="athlete-container">
            <!-- This is where the athlete partial view content will be loaded -->
            @ViewBag.Athlete
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#retrieve-athlete-link').click(function () {
                    event.preventDefault();

                    $.ajax({
                        url: '@Url.Action("GetAthlete", "Home")',
                        type: 'GET',
                        data: { id: 1 },
                        success: function (data) {
                            // Store data in session storage
                            sessionStorage.setItem('AthleteData', data);

                            // Retrieve data from session storage
                            var athleteData = sessionStorage.getItem('AthleteData');

                            $('#athlete-container').append(athleteData);
                        },
                        error: function () {
                            alert("An error occurred while loading athlete information.");
                        }
                    });
                });

                $('#Calculate-TLoad').click(function () {
                    event.preventDefault();

                    $.ajax({
                        url: '@Url.Action("CalculateTLoad", "Home")',
                        type: 'GET',
                        data: { id: 1 },
                        success: function (data) {
                            // Store data in session storage
                            sessionStorage.setItem('TLoad', data);

                            // Retrieve data from session storage
                            var tLoad = sessionStorage.getItem('TLoad');

                            $('#athlete-container').append(tLoad);
                        },
                        error: function () {
                            alert("An error occurred while loading athlete information.");
                        }
                    });
                });
            });
        </script>
        <script>
            if (sessionStorage.getItem("AthleteData") != null) {
                // Retrieve data from session storage
                var athleteData = sessionStorage.getItem('AthleteData');
                $('#athlete-container').append(athleteData);
            }
            if (sessionStorage.getItem("TLoad") != null) {
                // Retrieve data from session storage
                var tLoad = sessionStorage.getItem('TLoad');
                $('#athlete-container').append(tLoad);
            }
        </script>
    }
</body>
</html>