@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athlete List</title>
</head>
<body>
    <h1>Athlete Overview</h1>
    <div id="athlete-list">
        <div id="athlete-container">
            <!-- This is where the partial view content will be loaded -->
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#retrieve-athlete-link').click(function () {
                    event.preventDefault();

                    $.ajax({
                        url: '@Url.Action("GetAthlete", "Home")',
                        type: 'GET',
                        data: { id: 1 }, // Example of passing parameters
                        success: function (data) {
                            $('#athlete-container').append(data);
                        },
                        error: function () {
                            alert("An error occurred while loading athlete information.");
                        }
                    });
                });
            });
        </script>
    }
</body>
</html>